vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|26 Dec 2004 00:08:07 -0000
vti_extenderversion:SR|5.0.2.2634
vti_usagebymonth:UX|166 484 54 57
vti_usagebyweek:UX|0 201 126 167 139
vti_usagebyday:UX|0 37 59 22 32 16 13 22
vti_usagelastupdated:TX|06 Mar 2005 09:15:02 -0000
vti_usagetotalhits:IX|761
